<link rel="stylesheet" href="//at.alicdn.com/t/font_uvcepqkiajzfflxr.css">
<div class="custome-index">
    <div class="top">
        <div class="title">
            海大开发者公共空间
        </div>
        <canvas id="school" width="990" height="300"></canvas>
    </div>
    <div class="bottom">
        <div class="item">
            <i class="iconfont icon-guandianwenzhang">
            </i>
            <a href="#new-article">最新文章</a>
            <p>
                成员可以在当前公共空间里编写自己的项目说明、学习历程、学习经验、杂谈等等。
            </p>
        </div>
        <div class="item">
            <i class="iconfont icon-kaifazhe"></i>
            <a href="https://github.com/orgs/shouDeveloper/people" target="_Blank">加入我们</a>
            <p>
                成员全部来自上海海洋大学，分布于各个年级，从事于安卓、ios、web、设计等工作，使用javascript,java,swfit,c++,python多种语言。
            </p>
        </div>
        <div class="item">
            <i class="iconfont icon-daima">
            </i>
            <a href="https://github.com/shouDeveloper" target="_Blank">查看仓库</a>
            <p>
                成员开源的代码会托管在github organization仓库里，成员有创建修改自己仓库的权限。当前空间也是托管在里面并使用github pages展示。
            </p>
        </div>
    </div>
</div>
<div class="site-content home">
    <div class="post-title" id="new-article">
        最新文章
    </div>
    <main class="content-area">
        <% page.posts.each(function(item, itemIndex){ %>
            <% if (itemIndex % 2 === 0) { %>
                <div class="even">
                    <%- partial('_partial/article-index', {item: item}) %>
                </div>
                <% } else { %>
                    <div class="odd">
                        <%- partial('_partial/article-index', {item: item}) %>
                    </div>
                    <% } %>
                        <% }); %>

                            <%- partial('_partial/pagination') %>
    </main>
    <script src="/js/index.js"></script>
</div>